{% extends "base.html" %} {% block content %}{% load mathfilters %}
<h2 class="page-heading">Fuel Quote History</h2>
<div class="main card">
  <table class="fuel-quote-history table table-striped">
    <thead>
      <tr>
        <th scope="col" style="width: 100px;">S.N.</th>
        <th scope="col" class="w-200">Gallons Requested</th>
        <th scope="col">Delivery Address</th>
        <th scope="col" class="w-150">Delivery Date</th>
        <th scope="col" class="text-right w-220">Suggested Price per Gallon</th>
        <th scope="col" class="text-right w-220">Total Amount Due</th>
      </tr>
    </thead>
    <tbody>
      {% if data %} {% for row in data %}
      <tr>
        <td scope="row">{{forloop.counter}}</td>
        <td class="w-200">{{row.req_gallons}}</td>
        <td>{{row.del_address}}</td>
        <td class="w-150">{{row.delivery_date}}</td>
        <td class="text-right w-220">{{row.sugg_price}}</td>
        <td class="text-right w-220">{{row.due_amount}}</td>
      </tr>
      {% endfor %} {% else %}
      <tr aria-colspan="6">
        <td colspan="6" class="text-center">No Record Found!</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{%endblock%}
