{% extends "base.html" %} {% block content %}
<h2 class="page-heading">Fuel Quote</h2>
<div class="main card">
  {% if messages %}
  <div class="alert alert-danger">
    {% for message in messages %}
    <span>{{message}}</span>
    {% endfor %}
  </div>
  {% endif%}
  <form class="fuel-quote" action="/quote" method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="id_gallonreq">Gallons Requested:</label>
        {{form.gallonreq}}
      </div>
      <div class="form-group col-md-6">
        <label for="id_deladdress">Delivery Address:</label>
        {{form.deladdress}}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="id_deliverydate">Delivery Date:</label>
        {{form.deliverydate}}
      </div>
      <div class="form-group col-md-6">
        <label for="id_suggprice">Suggested Price per Gallon (USD):</label>
        {{form.suggprice}}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6"></div>
      <div class="form-group col-md-6">
        <label for="id_deuamount">Total Amount Due (USD):</label>
        {{form.deuamount}}
      </div>
    </div>
    <button
      type="button"
      disabled="disabled"
      id="get_quote"
      class="btn btn-primary"
    >
      Get Quote
    </button>
    <button
      type="submit"
      disabled="disabled"
      id="submit_quote"
      class="btn btn-primary"
    >
      Submit Quote
    </button>
    <p id="error_msg"></p>
  </form>
</div>
{% block javascript %}
<script>
  $("#get_quote").on("click", function () {
    $.ajax({
      url: "/suggested_price",
      data: {
        csrfmiddlewaretoken: "{{ csrf_token }}",
        gallon_req: $("#id_gallonreq").val(),
      },
      method: "post",
    })
      .done(function (data) {
        $("#id_suggprice").val(data["sugg_price"]);
        $("#id_deuamount").val(data["amount_due"]);
        $("#submit_quote").attr("disabled", false);
        $("#error_msg").html("");
        $("#error_msg").hide();
      })
      .fail(function () {
        $("#error_msg").html("Request Failed! Please try again!");
        $("#error_msg").show();
      });
  });

  $("#id_gallonreq").on("keyup", function () {
    if ($(this).val() > 0 && $("#id_deliverydate").val()) {
      $("#get_quote").attr("disabled", false);
    } else {
      $("#get_quote").attr("disabled", true);
    }
  });

  $("#id_deliverydate").on("change", function () {
    if ($("#id_gallonreq").val() > 0 && $(this).val()) {
      $("#get_quote").attr("disabled", false);
    } else {
      $("#get_quote").attr("disabled", true);
    }
  });
</script>
{% endblock %} {%endblock%}
