{% extends "form-base.html" %} {% block content %}

<div class="main user-profile">
  <form action="create_profile" method="post">
    <h1><span>User</span> <lable> Profile </lable></h1>
    <div class="inset">
      {% if messages %}
      <div class="alert alert-danger">
        {% for message in messages %}
        <span>{{message}}</span>
        {% endfor %}
      </div>
      {% endif%} {% csrf_token %} {{form}}
    </div>
    <p class="p-container">
      <span class="link"><a href="register">Back</a></span>
      <input type="submit" value="Submit" />
    </p>
  </form>
</div>

{%endblock%}
